.list {
    margin-top: 10px;
    width: 380px;
    height: fit-content;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* background-color: #ff9f9f; */
}

.list_title {
    display: flex;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.list_elements {
    display: flex;
    flex-direction: column;
    padding: 20px;

}